body{
  background: url("../assets/img/background.jpeg") center/cover no-repeat;
  width: 100vw;
  height: 100vh;
  
}

.dropdown-item:hover{
  background: #EE6C7E;
}
.dropdown-item:active{
  background: #212529;
}

.btn-cart{
  background: #C63757;
  color: white;
}

.btn-cart:hover{
  background: #EE6C7E;
  color: white;
}

.custom-toggler, .-navbar-toggler-icon{
  color: white;
}